.bannerdiv{
    background-image: url(./image/bg-2.png);
    background-repeat: no-repeat;
    background-position: left bottom;
}
.banner-bg{
    background-image: url(./image/bg-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 7%;
    
}
p{
    color: gray;
}

.slider{
    color: yellow;
}

.seeAll a{
    color: orangered;
}
.phone{
    border: none;
    /* box-shadow: 10px 10px 30px grey; */
    
}
.card-footer{
    border-top: none;
    background-color: white;
    
}
/* .phone img{
    height: 200px;
} */

.laptop{
    margin-bottom: 100px;
}
hr{
    border-top: 4px solid orangered;
    background-color: orangered;
    width: 164px;
    visibility: visible;
    margin-left: 13px;
}
.img1 img{
    height: 120px;
    width: 120px;
}